{% extends 'base.html.twig' %}

{% block title %}Groupes{% endblock %}

{% block body %}
{{include('include/header.html.twig')}}



<div class="header-info longer">
    <h1><span>Artistes et Groupes</span> populaires</h1>
</div>



<div class="GroupeListAccueil GroupeListGroupe">
    {% for groupe in populaires %}
    <div class="GroupeItem">
        <a  href="#">
            <figure>
                <div class="img_container">
                <img class="imgGroupeAccueil" src="{{ asset('uploads/groupes/' ~ groupe.photo) }}" alt="image de {{groupe.nom}}">
                </div>
            </figure>
        </a>
        <a class="record_label" href="#">{{groupe.nom}}</a>
    </div>
    {% endfor %}
</div>




<div class="header-info info2 longer list_title">
    <h1>Tout Les<span> Artistes et Groupes</span></h1>  
</div>


{{ component('SearchListComponent') }}


{% endblock %}
