{% extends 'base.html.twig' %}

{% block title %}Pages{% endblock %}

{% block body %}
{{include('include/header.html.twig')}}



<div class="header-info longer">
    <h1><span>Pages</span> populaires</h1>
</div>

<div class="pages_populaires">
    {% for groupe in populaires %}
    
    <div class="single_page_populaire">
        <p><i class="fa-solid fa-users"></i>{{groupe.getLikerPar()|length }}</p>
        <a href="{{path('show_page',{'id':groupe.id})}}">
            <figure>
                <img src="{{ asset('uploads/groupes/' ~ groupe.photo) }}" alt="photo de {{groupe.nom}}">
            </figure>
        </a>

        <div class="single_page_nom">
            <a href="{{path('show_page',{'id':groupe.id})}}">{{groupe.nom}}</a>

            {% if user in groupe.likerPar %}
                {% set liked = true %}
                {% else %}
                {% set liked = false %}
            {% endif %}
            <div class="theme-color playlist_icons_list">
                {{ component('LikeButtonComponent', {
                    'entityType': 'Groupe',
                    'entityId': groupe.id,
                    'isLiked':liked,
                }) }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="header-info info2 longer list_title">
    <h1>Toutes Les<span> Pages</span></h1>  
</div>


{{ component('SearchListPageComponent') }}

{% endblock %}