{% extends 'base.html.twig' %}

{% block title %}Pages{% endblock %}

{% block body %}
    <figure>
        <img src="{{ asset('uploads/groupes/' ~ groupe.couverture) }}" alt="couverture de {{groupe.nom}}">
    </figure>
    <figure>
        <img src="{{ asset('uploads/groupes/' ~ groupe.photo) }}" alt="photo de {{groupe.nom}}">
    </figure>
    <div>
        <h1>{{groupe.nom}}</h1>
        <div>
            {% if user in groupe.likerPar %}
                {% set liked = true %}
            {% else %}
                {% set liked = false %}
            {% endif %}
                {{ component('LikeButtonComponent', {
                    'entityType':'Groupe',
                    'entityId':groupe.id,
                    'isLiked':liked,
                }) }}
            <p>{{groupe.likerPar|length}}</p>
        </div> 
    </div>

        
    
    
    <p><i class="fa-solid fa-newspaper"></i> {{groupe.posts|length}} </p>
<div>
    <section>
        <section>
            <h2>Présentation</h2>
            {{groupe.info}}

            {% if groupe.artistes|length >1 %}
                <h2>Date de creation</h2>
                <p>{{groupe.dateCreation|date("m/d/Y")}}</p>
            {% else %}
                <h2>Date de Naissance</h2>
                <p>{{groupe.artistes[0].dateNaissance|date("m/d/Y")}}</p>
            {% endif %}
        </section>

        <section>
            <h2>Derniers morceaux</h2>
            {% for musique in musiquesPopulaires %}
            <div>
                <p>{{musique.nom}}</p>
                <button class="track-btn" 
                data-track="{{ asset('uploads/files/' ~ musique.fichier) }}"
                data-album-cover="{{ asset('uploads/albums/' ~ musique.album.image) }}"
                data-song-name="{{ musique.nom }}"
                data-artist-name="{{ musique.nom }}"
                onclick="addToHistory({{ musique.id }})">
                <i class="fa-solid fa-play"></i>
                </button>
            </div>
            {% endfor %}
        </section>
    </section>


    <section>
        <div>
            <a href="#">
                <figure>
                    <img style="width:50px" class="imgUserPlaylist" src="{{ asset('uploads/users/' ~ user.image) }}" alt="Image de profil de {{user.pseudo}} ">
                </figure>
            </a>
        
            {{ form_start(formAddPost) }}
            {{form_end(formAddPost) }}
        </div>
        <div>
            {% for post in groupe.posts %}
                <div>
                    <div>
                        <a href="#">
                            <figure>
                                <img style="width:50px" class="imgUserPlaylist" src="{{ asset('uploads/users/' ~ post.auteur.image) }}" alt="Image de profil de {{post.auteur.pseudo}} ">
                            </figure>
                        </a>
                        <div>
                            {{post.auteur.pseudo}}
                            <p>{{ post.dateCreation|date("H:i . d/M/Y") }}</p>
                        </div>
                    </div>
                    <p>{{post.texte}} </p>
                    <div>
                        <div>
                            <p>{{post.likerPar|length}}</p>
                            {% if user in post.likerPar %}
                                {% set liked1 = true %}
                            {% else %}
                                {% set liked1 = false %}
                            {% endif %}
                                {{ component('LikeButtonComponent', {
                                    'entityType':'Post',
                                    'entityId':post.id,
                                    'isLiked':liked,
                                }) }}
                        </div>
                        <div>
                            <p>{{post.commentaires|length}}</p>
                            <i class="fa-regular fa-comment"></i>
                        </div>
                    </div>
                    <div>
                        <a href="#">
                            <figure>
                                <img style="width:50px" class="imgUserPlaylist" src="{{ asset('uploads/users/' ~ user.image) }}" alt="Image de profil de {{user.pseudo}} ">
                            </figure>
                        </a>
                        
                        {{ form_start(commentForms[post.id]) }}
                        {{ form_widget(commentForms[post.id]) }}
                        {{ form_end(commentForms[post.id]) }}
                        
                    </div>

                </div>
            {% endfor %}
        </div>
        
    </section>
</div>


{% endblock %}