{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<p>ECOUTER TOUT LES</p>
<h2>Albums du moment</h2>

{% for album in albums %}
    <img src="{{ asset('uploads/albums/' ~ album.image) }}" alt="jaquette de {{ album.nom }}">
    <p>{{album.nom}}</p>
    
    {# on verifie si l'album a etait fait par un ou plusieurs groupes et on formate l'affichage selon si il n'y en a qu'un ou plusieurs  #}

    {% set groupeCount = album.groupes|length %}
    {% if groupeCount == 1 %}
       <p> {{ album.groupes[0].nom }}</p>
    {% else %}
    <p>
        {% for key, groupe in album.groupes %}
            {{ groupe.nom }}
            {% if not loop.last %} ft. {% endif %}
        {% endfor %}
    </p>
    {% endif %}
{% endfor %}


{% endblock %}
