{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<p>ECOUTER TOUT LES</p>
<h1>Albums du moment</h1>

{% for album in albums %}

    <a href="{{path('show_album',{'id':album.id})}}">
        <figure>
            <img class="imgAlbumAccueil" src="{{ asset('uploads/albums/' ~ album.image) }}" alt="jaquette de {{ album.nom }}">
        </figure>
    </a>
    <a href="{{path('show_album',{'id':album.id})}}">{{album.nom}}</a>
    <button class="track-btn" 
        data-track="{{ asset('uploads/files/' ~ album.musiques[0].fichier) }}"
        data-album-cover="{{ asset('uploads/albums/' ~ album.image) }}"
        data-song-name="{{ album.musiques[0].nom }}"
        data-artist-name="{{ album.groupes[0].nom }}"
        onclick="addToHistory({{ album.musiques[0].id }})">
        <i class="fa-solid fa-play"></i>
    </button>
    
    {% if user in album.likerPar %}
    {% set liked = true %}
    {% else %}
    {% set liked = false %}
    {% endif %}
    {{ component('LikeButtonComponent', {
        'entityType': 'Album',
        'entityId': album.id,
        'isLiked':liked,
    }) }} 

 

    <script>
        function addToHistory(musiqueId) {
            fetch('/add-to-history', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'musiqueId=' + musiqueId
            })
            .then(response => {
                if (response.ok) {
                    console.log('Historique updated');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
   
    
    
    
    {# on verifie si l'album a etait fait par un ou plusieurs groupes et on formate l'affichage selon si il n'y en a qu'un ou plusieurs  #}

    {% set groupeCount = album.groupes|length %}
    {% if groupeCount == 1 %}
       <a href="#"> {{ album.groupes[0].nom }}</a>
    {% else %}
    <p>
        {% for key, groupe in album.groupes %}
            <a href="#">{{ groupe.nom }}</a>
            {% if not loop.last %} ft. {% endif %}
        {% endfor %}
    </p>
    {% endif %}
{% endfor %}

<h2>Groupes Populaires</h2>
{% for groupe in groupes %}
    <a href="#">
        <figure>
            <img class="imgGroupeAccueil" src="{{ asset('uploads/groupes/' ~ groupe.photo) }}" alt="image de {{groupe.nom}}">
        </figure>
    </a>
    <a href="#">{{groupe.nom}}</a>
{% endfor %}


{% endblock %}
