{% extends 'base.html.twig' %}

{% block title %}Soundsage : Découvrez, Écoutez et Partagez la Musique Autrement{% endblock %}

{% block meta_description %}Mettez du rythme dans votre vie avec Soundsage, votre nouvelle destination pour une expérience musicale inoubliable. Découvrez, écoutez et partagez vos morceaux préférés parmi une vaste bibliothèque de musiques variées. Rejoignez notre communauté de passionnés de musique et profitez d'une qualité sonore exceptionnelle. Soundsage, bien plus qu'un simple service d'écoute - une révolution musicale à portée de main{% endblock %}

{% block body %}
{{include('include/header.html.twig')}}

<div class="header-info">
    <p>ECOUTER TOUT LES</p>
    <h1><span>Albums</span> du moment</h1>
</div>
{# Affiche les 10 albums les plus recents #}
    <a class="voir_plus" href="{{path('app_album')}}">voir plus ...</a>
    <div class="carousel_et_bouttons">
        <button class="carousel-prev-btn" onclick="moveCarousel('prev')"><i class="fa-solid fa-arrow-left"></i></button>
        <div class="carousel">
            
            <div class="carousel-inner">
                {% for album in albums %}
            
                <div class="carousel-item">
                    <a title="{{album.nom}}" href="{{path('show_album',{'id':album.id})}}">
                        <figure>
                            <img class="imgAlbumAccueil" src="{{ asset('uploads/albums/' ~ album.image) }}" alt="jaquette de {{ album.nom }}">
                        </figure>
                    </a>
                    
                    <div class="overlay">
                        
                    {% if app.user %}
                        {% if user in album.likerPar %}
                            {% set liked = true %}
                            {% else %}
                            {% set liked = false %}
                        {% endif %}
                        {{ component('LikeButtonComponent', {
                            'entityType': 'Album',
                            'entityId': album.id,
                            'isLiked': liked,
                        }) }}
                        
                        <button class="track-btn" 
                            data-track="{{ asset('uploads/files/' ~ album.musiques[0].fichier) }}"
                            data-album-cover="{{ asset('uploads/albums/' ~ album.image) }}"
                            data-song-name="{{ album.musiques[0].nom }}"
                            data-artist-name="{{ album.groupes[0].nom }}"
                            onclick=" addToHistory({{ album.musiques[0].id }}); changeTrack(this);">
                            <i class="fa-solid fa-play"></i>
                        </button>

                        <button class="playlist_menu_btn" onclick=" document.getElementById('menu-contextuel{{album.id}}').classList.toggle('menu-actif')"><i class="fa-solid fa-plus"></i></button>
                    {% else %}
                    <button class="track-btn" 
                        data-track="{{ asset('uploads/files/' ~ album.musiques[0].fichier) }}"
                        data-album-cover="{{ asset('uploads/albums/' ~ album.image) }}"
                        data-song-name="{{ album.musiques[0].nom }}"
                        data-artist-name="{{ album.groupes[0].nom }}"
                        onclick=" changeTrack(this);">
                        <i class="fa-solid fa-play"></i>
                    </button>
                        
                    {% endif %}
                        
                        
                        
                    </div>
                    
                    <a class="album_titre" href="{{path('show_album',{'id':album.id})}}">{{album.nom}}</a>
                    {# on verifie si l'album a etait fait par un ou plusieurs groupes et on formate l'affichage selon si il n'y en a qu'un ou plusieurs  #}

                        {% set groupeCount = album.groupes|length %}
                        {% if groupeCount == 1 %}
                        <a class="album_auteur" href="#"> {{ album.groupes[0].nom }}</a>
                        {% else %}
                        <div class="inline">
                            
                            {% for key, groupe in album.groupes %}
                                <a class="album_auteur" href="#">{{ groupe.nom }}</a>
                                {% if not loop.last %} <p>&nbsp ft.&nbsp</p> {% endif %}
                            {% endfor %}
                            
                        </div>
                        {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="carousel-next-btn" onclick="moveCarousel('next')"><i class="fa-solid fa-arrow-right"></i></button>
    </div>

    
    

{% for album in albums %}
    <div class="menu-contextuel" id="menu-contextuel{{album.id}}">
        {{ component('NewPlaylistComponent', {
            'albumId':album.id,
        }) }}
    </div>
{% endfor %}

<div class="header-info-search">
    <h1><span>Groupes</span> populaires</h1>
</div>

{# Trouve les groupes avec le plus de likes sur leurs musiques #}

<a class="voir_plus" href="{{path('app_groupe')}}">voir plus ...</a>
<div class="GroupeListAccueil">
    {% for groupe in groupes %}
    <div class="GroupeItem">
        <a  href="#">
            <figure>
                <div class="img_container">
                <img class="imgGroupeAccueil" src="{{ asset('uploads/groupes/' ~ groupe.photo) }}" alt="image de {{groupe.nom}}">
                </div>
            </figure>
        </a>
        <a class="record_label" href="#">{{groupe.nom}}</a>
    </div>
    {% endfor %}
</div>

{% endblock %}
