{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block body %}
{{include('include/header.html.twig')}}

<div class="header-info">
    
    <h1><span>Genres</span> Recommander</h1>
</div>
{# compte le nombre total de musique de chaque genre et affiche le genre avec le plus de musiques #}

<div class="grid-container">
   
    {% for genre in populaires %}
    
        <a class="carte_genre" href="#">
            <figure>
                <img src="{{ asset('uploads/genres/' ~ genre.image) }}" alt="image de {{genre.nom}}">
            </figure>
            <p class="genre_grid_label">{{genre.nom}}</p>
        </a>
        {# <a href="#">{{genre.nom}}</a> #}
       
    {% endfor %}
</div>

   
<div class="header-info info2 longer list_title">
    <h1>Tout Les<span> Genres</span></h1>  
</div>

    {{ component('SearchListGenreComponent') }}

{% endblock %}
