{% extends 'base.html.twig' %}

{% block title %}Vos Playlists{% endblock %}

{% block body %}
<div class="no_header_search">
    {{ component('SearchComponent', {
        'searchType': 'all',
    }) }} 
</div>
<div class="header-info playlist_header">
    <h1>Vos <span>Playlists</span></h1>
</div>


<div class="playlist_list">

    <div class="list-header">
        <p>nom</p>
        <p>Musiques</p>
    </div>

    <div class="black-line"></div>

   <div class="all_playlist_blocks">
        {% for playlist in playlists %}

        <div class="playlist_list_block">

            <div class="playlist-info-list">
                <a href="{{path('show_playlist',{'id':playlist.id})}}">
                    <figure>
                        {% if playlist.image != null %}
                            <img class="imgPlaylistIcon" src="{{ asset('uploads/playlists/' ~ playlist.image) }}" alt="image de {{ playlist.nom }}">
                        {% else %}
                            <img class="imgPlaylistIcon" src="{{ asset('uploads/defaultTrack.jpg') }}" alt="image par defaut">
                        {% endif %}
                    </figure>
                </a>
                <a class="playlist_nom" href="{{ path('show_playlist', {'id': playlist.id}) }}">{{ playlist.nom }}</a>
            </div>

            <div class="playlist_icons_list">
                {% set musiqueCount = 0 %}
                {% for musique in playlist.musiques %}
                    {% set musiqueCount = musiqueCount + 1 %}
                {% endfor %}
                {% if musiqueCount == 1 %}
                    <p>{{ musiqueCount}} Musique</p>
                {% else %}
                    <p>{{ musiqueCount}} Musiques</p>
                {% endif %}
                <div class="playlist_icons">
                    <a class="" href="{{ path('edit_playlist', {'id': playlist.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="{{ path('delete_playlist', {'id': playlist.id}) }}"><i class="fa-solid fa-trash" ></i></a>
                </div>
            </div>

        </div>
        {% endfor %}
        
    </div>

</div>





{% endblock %}
