{% extends 'base.html.twig' %}

{% block title %}Playlist {{playlist.nom}}{% endblock %}

{% block body %}

<div class="no_header_search">
    {{ component('SearchComponent', {
        'searchType': 'all',
    }) }} 
</div>

{# calcule de la durée total de l'album puis formate en minutes et secondes pour l'affichage#}
{% set totalDuration = 0 %}
{% for musique in playlist.musiques %}
    {% set totalDuration = totalDuration + musique.duree %}
{% endfor %}

{% set minutes = (totalDuration // 60) %}
{% set seconds = (totalDuration % 60) %}


<main class="container1 centered">

    <section class="album-present">

        <img  src="{{ asset('uploads/playlists/' ~ playlist.image) }}" alt="jaquette de {{ playlist.nom }}">
        
        <div class="album-title">
            
            <p>playlist</p>
            <h1 class="theme-color ">
                {{ playlist.nom }}  

            </h1>
            
            <div class="detail">

                <div class="theme-color ">

                    <img class="imgUserPlaylist" src="{{ asset('uploads/users/' ~ playlist.auteur.image) }}" alt="Image de profil de {{playlist.auteur.pseudo}} ">
                    <p>{{ playlist.auteur.pseudo }}</p>
                    <p>{{ playlist.musiques|length }} titres</p>
                    <p>{{ minutes }} min {{ seconds }}</p>
                    
                </div>

            </div>
        </div>


    </section>
    
    <section class="main1 album">

        <section class="main-content1 album">
            
            <table>
                <thead>
                    <tr>
                        <th>n°</th>
                        <th>Titre</th>
                        <th></th>
                        <th><i class="fa-regular fa-clock"></i></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for musique in playlist.musiques %}

                    {% if user in musique.likerPar %}
                    {% set liked = true %}
                    {% else %}
                    {% set liked = false %}
                    {% endif %}
                    <tr class="theme-color ">
                        
                        <td>
                            <span class="index-display"> {{ loop.index }} </span>
                            
                            <button class="carousel-btns track-btn hover-or-none"
                            data-tracks='[
                                
                                    {   "musiqueId": "{{ musique.id }}",
                                        "albumId": "{{ musique.album.id }}",
                                        "groupeId": "{{ musique.album.groupes[0].id }}",
                                        "track": "{{ asset('uploads/files/' ~ musique.fichier) }}",
                                        "albumCover": "{{ asset('uploads/albums/' ~ musique.album.image) }}",
                                        "songName": "{{ musique.nom }}",
                                        "artistName": "{{ musique.album.groupes[0].nom }}"
                                    }
                                
                                ]'
                                onclick="changeTrack(this);">
                                <i class="fa-solid fa-play"></i>
                            </button>

                        </td>




                        <td><p>{{musique.nom}}</p><span>{{ musique.album.groupes[0].nom }}</span></td>
                        <td>
                            {{ component('LikeButtonComponent', {
                            'entityType':'Musique',
                            'entityId':musique.id,
                            'isLiked':liked,
                            }) }}
                        </td>
                        <td>{{ musique.duree // 60 }}:{{ '%02d'|format(musique.duree % 60) }}</td>
                        <td>
                            <a href="{{ path('delete_from_playlist', {'playlist_id': playlist.id, 'music_id': musique.id}) }}"
                            ><i class="fa-solid fa-trash" ></i></a>
                        </td>
                    </tr>
                    
                {% endfor %}


               
                </tbody>
            </table>

            <section class="other1">
                {% if user == playlist.auteur %}
                    <h3>Vos Autre Playlists </h3>
                    {% set visible = true %}
                {% else %}
                    <h3>Autres Playlists de {{playlist.auteur.nom}} </h3>
                    {% set visible = false %}
                {% endif %}
                

                <div class="oeuvres1">
                    {% for autrePlaylist in playlist.auteur.playlists %}
                        {% if autrePlaylist.nom != playlist.nom and (visible == true or autrePlaylist.public == true) %}
                        <div class="oeuvre1">
                            <img style="aspect-ratio:1/1" class="imgplaylistShow" src="{{ asset('uploads/playlists/' ~ autrePlaylist.image) }}" alt="image de {{ autrePlaylist.nom }}">
                            <a href="{{ path('show_playlist', {'id': autrePlaylist.id}) }}">{{autrePlaylist.nom}}</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </section>

        </section>

    </section>

</main>
{% endblock %}
