{% extends 'base.html.twig' %}

{% block title %} {{ album.nom }} {% endblock %}

{% block body %}

<div class="no_header_search">
    {{ component('SearchComponent', {
        'searchType': 'all',
    }) }} 
</div>

{# calcule de la durée total de l'album puis formate en minutes et secondes pour l'affichage#}
{% set totalDuration = 0 %}
{% for musique in album.musiques %}
    {% set totalDuration = totalDuration + musique.duree %}
{% endfor %}

{% set minutes = (totalDuration // 60) %}
{% set seconds = (totalDuration % 60) %}
{% if user in album.likerPar %}
{% set liked = true %}
{% else %}
{% set liked = false %}
{% endif %}

<main class="container1 centered">

    <section class="album-present">

        <img  src="{{ asset('uploads/albums/' ~ album.image) }}" alt="jaquette de {{ album.nom }}">
        
        <div class="album-title">
            
            <p>album</p>
            <h1 class="theme-color ">
                {{ album.nom }}  

                {{ component('LikeButtonComponent', {
                    'entityType':'Album',
                    'entityId':album.id,
                    'isLiked':liked,
                }) }} 
            </h1>
            
            <div class="detail">

                <div class="theme-color ">

                    <img src="{{ asset('uploads/groupes/' ~ album.groupes[0].photo) }}" alt="image de {{ album.groupes[0].nom }}">
                    <p>{{ album.groupes[0].nom }}</p>
                    <p>{{ album.dateCreation|date('Y') }}</p>
                    <p>{{ album.musiques|length }} titres</p>
                    <p>{{ minutes }} min {{ seconds }}</p>
                     {{ component('LikeButtonComponent', {
                        'entityType':'Album',
                        'entityId':album.id,
                        'isLiked':liked,
                        }) }} 
                     </p>
                </div>

            </div>
        </div>


    </section>
    
    <section class="main1 album">

        <section class="main-content1 album">
            
            <table>
                <thead>
                    <tr>
                        <th>n°</th>
                        <th>Titre</th>
                        <th></th>
                        <th><i class="fa-regular fa-clock"></i></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for musique in album.musiques %}

                    {% if user in musique.likerPar %}
                    {% set liked = true %}
                    {% else %}
                    {% set liked = false %}
                    {% endif %}
                    <tr class="theme-color ">
                        
                        <td>
                            <span class="index-display"> {{ loop.index }} </span>
                            
                            <button class="carousel-btns track-btn hover-or-none"
                            data-tracks='[
                                
                                    {   "musiqueId": "{{ musique.id }}",
                                        "albumId": "{{ album.id }}",
                                        "groupeId": "{{ album.groupes[0].id }}",
                                        "track": "{{ asset('uploads/files/' ~ musique.fichier) }}",
                                        "albumCover": "{{ asset('uploads/albums/' ~ album.image) }}",
                                        "songName": "{{ musique.nom }}",
                                        "artistName": "{{ album.groupes[0].nom }}"
                                    }
                                
                                ]'
                                onclick="changeTrack(this);">
                                <i class="fa-solid fa-play"></i>
                            </button>

                        </td>




                        <td><p>{{musique.nom}}</p><span>{{ album.groupes[0].nom }}</span></td>
                        <td>
                            {{ component('LikeButtonComponent', {
                            'entityType':'Musique',
                            'entityId':musique.id,
                            'isLiked':liked,
                            }) }}
                        </td>
                        <td>{{ musique.duree // 60 }}:{{ '%02d'|format(musique.duree % 60) }}</td>
                        <td><button  onclick=" document.getElementById('menu-contextuel{{musique.id}}').classList.toggle('m-enu-actif')"><i class="fa-solid fa-plus i-theme"></i></button>
                            <div class="menu-contextuel" id="menu-contextuel{{musique.id}}">
                                {{ component('NewPlaylistComponent', {
                                    'musiqueId':musique.id,
                                }) }}
                            </div>
                        </td>
                    </tr>
                    
                {% endfor %}


               
                </tbody>
            </table>

            <section class="other1">
                
                <h3>Autres Oeuvres de {{album.groupes[0].nom}}</h3>

                <div class="oeuvres1">
                    {% for AutreAlbum in album.groupes[0].albums %}
                    <div class="oeuvre1">
                        <img  src="{{ asset('uploads/albums/' ~ AutreAlbum.image) }}" alt="jaquette de {{ AutreAlbum.nom }}">
                        <a href="{{path('app_page',{'id':1})}}">{{AutreAlbum.nom}}</a>
                    </div>
                    {% endfor %}
                </div>

            </section>

        </section>

    </section>

</main>
{% endblock %}