<!DOCTYPE html>
<html>
    <head>
       
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/a0cb91d4d8.js" crossorigin="anonymous"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('js/alert.js') }}"></script>
        
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script defer>
            $(document).ready(function() {
                var audio = new Audio('/uploads/files/Radiohead - Reckoner (By Clement Picon).mp3');
                audio.loop = true;
                audio.play();
            
                // Intercepter les clics sur tous les liens
                $(document).on('click', 'a:not(.exclude-from-interception)', function(e) {
                    var href = $(this).attr('href');
            
                    // Vérifier si le lien doit être traité comme une navigation interne
                    if (doLoadInternally(href)) {
                        e.preventDefault();
                        loadPage(href);
                    }
                    // Sinon, le lien est traité normalement
                });
            
                function loadPage(url) {
                    $('#content').load(url + ' #content');
                }
            
                function doLoadInternally(url) {
                    // Ajoutez ici la logique pour déterminer si l'URL doit être chargée dans #content
                    // Par exemple, vous pourriez vérifier si l'URL est relative (ne commence pas par http:// ou https://)
                    return !url.match(/^http[s]?:\/\//);
                }
            });
        </script>
        <script defer>
            document.addEventListener('DOMContentLoaded', function () {
            var audio = document.getElementById('audioPlayer');
            var playPauseBtn = document.getElementById('playPauseBtn');
            var trackButtons = document.querySelectorAll('.track-btn');
            var progressBar = document.getElementById('progressBar');
            var progress = document.getElementById('progress');
            var volumeSlider = document.getElementById('volumeSlider');
            var volumeIcon = document.getElementById('volumeIcon');
            var timeInfo = document.getElementById('timeInfo');

            
        
            playPauseBtn.addEventListener('click', togglePlayPause);
            trackButtons.forEach(button => button.addEventListener('click', changeTrack));
            progressBar.addEventListener('click', seekAudio);
            volumeSlider.addEventListener('input', adjustVolume);
            audio.addEventListener('timeupdate', updateUI);
        
            function togglePlayPause() {
                if (audio.paused) {
                    audio.play();
                    playPauseBtn.innerHTML = '<i class="fa-solid fa-pause"></i>';
                } else {
                    audio.pause();
                    playPauseBtn.innerHTML = '<i class="fa-solid fa-play"></i>';
                }
            }
        
            function changeTrack(event) {
                var trackSource = event.target.getAttribute('data-track');
                var albumCover = event.target.getAttribute('data-album-cover');
                var songName = event.target.getAttribute('data-song-name');
                var artistName = event.target.getAttribute('data-artist-name');
        
                if (trackSource) {
                    audio.src = trackSource;
                    audio.load();
                    audio.play();
                    playPauseBtn.innerHTML = '<i class="fa-solid fa-pause"></i>';
                }
        
                // Update track information
                document.getElementById('albumCover').src = albumCover;
                document.getElementById('songName').textContent = songName;
                document.getElementById('artistName').textContent = artistName;
            }
        
            function seekAudio(e) {
                var rect = progressBar.getBoundingClientRect();
                var clickPosition = (e.pageX - rect.left) / progressBar.offsetWidth;
                audio.currentTime = clickPosition * audio.duration;
            }
        
            volumeSlider.addEventListener('input', function () {
                adjustVolume();
                updateVolumeSliderBackground(this.value);
                updateVolumeIcon(volumeSlider.value);
            });
        
            function adjustVolume() {
                audio.volume = volumeSlider.value;
            }
            function updateVolumeSliderBackground(volume) {
                const percentage = volume * 100;
                volumeSlider.style.background = 'linear-gradient(to right, #307AD0 ' + percentage + '%, #ffff ' + percentage + '%)';
            }
            function updateVolumeIcon(volume) {
                if (volume == 0) {
                    volumeIcon.className = 'fa fa-volume-xmark';
                } else if (volume <= 0.3) {
                    volumeIcon.className = 'fa fa-volume-off';
                } else if (volume <= 0.8) {
                    volumeIcon.className = 'fa fa-volume-low';
                } else {
                    volumeIcon.className = 'fa fa-volume-high';
                }
            }
        
            function updateUI() {
                updateProgressBar();
                updateTimeInfo();
            }
        
            function updateProgressBar() {
                var percentage = (audio.currentTime / audio.duration) * 100;
                progress.style.width = percentage + '%';
            }
        
            function updateTimeInfo() {
                timeInfo.textContent = formatTime(audio.currentTime) + ' / ' + formatTime(audio.duration);
            }
        
            function formatTime(time) {
                var minutes = Math.floor(time / 60);
                var seconds = Math.floor(time % 60);
                return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
            }
            updateVolumeSliderBackground(volumeSlider.value);
        });
    </script>
        {% endblock %}
    </head>
    <body>
        {# affichage des messages de succés et d'erreur #}
        {% set errorFlashes = app.flashes('error') %}
        {% set successFlashes = app.flashes('success') %}
        
        
        {% if errorFlashes is not empty %}
            <h3 class="msg_error">  
                {% for message in errorFlashes %}
                <i class="fa-solid fa-bullhorn"></i> {{ message }}
                {% endfor %} 
            </h3>
        {% endif %}
        
        {% if successFlashes is not empty %}
            <h3 class="msg_success">
                {% for message in successFlashes %}
                <i class="fa-solid fa-bullhorn"></i> {{ message }}
                {% endfor %}
            </h3>
        {% endif %}
        
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('app_home') }}" >Home</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}" class="exclude-from-interception">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}" class="exclude-from-interception">Login</a></li>
                        <li><a href="{{ path('app_register') }}" class="exclude-from-interception">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div class="custom-audio-player">
            <div class="track-info">
                <img id="albumCover" src="{{asset('uploads/defaultTrack.jpg')}}" alt="Default Album Cover">
                <div>
                    <a id="songName" href="#" target="_blank">Select a Song</a>
                    <br>
                    <a id="artistName" href="#" target="_blank">Artist Name</a>
                </div>
            </div>

            <audio id="audioPlayer"  type="audio/mpeg"></audio>
            <div class="controls">
                
                <button id="playPauseBtn"><i class="fa-solid fa-play"></i></button>
                <div class="time-info" id="timeInfo">0:00 / 0:00</div>
                <div class="progress-bar" id="progressBar">
                    <div class="progress" id="progress"></div>
                </div>
            </div>
            <div class="volume-control">
                <i id="volumeIcon" class="fa fa-volume-up"></i>
                <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="1">
            </div>

        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <script>
            function addToHistory(musiqueId) {
                fetch('/add-to-history', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'musiqueId=' + musiqueId
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Historique updated');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        </script>
    </body>
    </html>