<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/a0cb91d4d8.js" crossorigin="anonymous"></script>
        <link rel="icon" href="{{ asset('uploads/small-logo.png') }}">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@200;400;600;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/darkmode.css') }}">
        <link rel="stylesheet" href="{{ asset('css/lecteur.css') }}">
        <link rel="stylesheet" href="{{ asset('css/chat.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/recherche.css') }}">
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        <link rel="stylesheet" href="{{ asset('css/playlist.css') }}">
        <link rel="stylesheet" href="{{ asset('css/album.css') }}">

        {% endblock %}

        {% block javascripts %}

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{{ asset('js/darkmode.js') }}"></script>
        <script src="{{ asset('js/lecteur.js') }}"></script>
        <script src="{{ asset('js/carousel.js') }}"></script>
        
        
        
        
        {% block importmap %}{{ importmap() }}{% endblock %}
       
        {% endblock %}
    </head>
    <body class="preload">
        
        
        {# affichage des messages de succés et d'erreur #}
        {% set errorFlashes = app.flashes('error') %}
        {% set successFlashes = app.flashes('success') %}
        
        
        {% if errorFlashes is not empty %}
            <h3 class="msg_error">  
                {% for message in errorFlashes %}
                <i class="fa-solid fa-bullhorn"></i> {{ message }}
                {% endfor %} 
            </h3>
        {% endif %}
        
        {% if successFlashes is not empty %}
            <h3 class="msg_success">
                {% for message in successFlashes %}
                <i class="fa-solid fa-bullhorn"></i> {{ message }}
                {% endfor %}
            </h3>
        {% endif %}
        <button class="dark"><i class="fa-solid fa-moon"></i></button>
        <aside>
            <nav class="navbar" id="navbar">
                <div class="navbar-header">
                    <img class="logo" src="{{ asset('uploads/logo.png') }}" alt="Logo" id="logo1">
                    <img class="logo" src="{{ asset('uploads/small-logo.png') }}" alt="Logo" id="logo2" style="display: none;">
                    <button id="toggle-button" class="" onclick="toggleNavbar()">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </div>
                <ul class="navbar-nav">
                    <li><span class="nav-titre">explorer</span></li>
                    <li class="nav_element"><a title="Accueil" href="{{ path('app_home') }}"> <i  class="fa-solid fa-house icon"></i><span class="link-text">Accueil</span></a></li>
                    <li class="nav_element"><a title="Albums" href="{{ path('app_album') }}"> <i class="fa-solid fa-record-vinyl icon"></i> <span class="link-text">Albums</span> </a></li>
                    <li class="nav_element"><a title="Groupes" href="{{ path('app_groupe') }}"> <i class="fa-solid fa-people-group icon"></i><span class="link-text">Groupes</span> </a></li>
                    <li class="nav_element"><a title="Genres" href="{{ path('app_genre') }}"> <i class="fa-solid fa-guitar icon"></i><span class="link-text">Genres</span> </a></li>
                    <li class="nav_element"><a title="Vos Playlists" href="{{ path('app_playlist') }}"> <i class="fa-solid fa-ear-listen icon"></i><span class="link-text">Playlists</span> </a></li>
                </ul>
                <ul class="navbar-nav">
                    <li><span class="nav-titre">social</span></li>
                    <li class="nav_element"><a title="Pages" href="{{ path('app_page') }}"><i class="fa-solid fa-note-sticky icon"></i><span class="link-text">Pages</span></a></li>
                </ul>
                <ul class="navbar-nav">
                    <li><span class="nav-titre">préférences</span></li>
                    <li class="nav_element"><a title="Favoris" href="{{ path('app_favoris') }}"> <i class="fa-solid fa-heart icon"></i><span class="link-text">Favoris</span> </a></li>
                    <li class="nav_element"><a title="historique" href="{{ path('app_historique') }}"> <i class="fa-solid fa-clock-rotate-left icon"></i><span class="link-text">Historique</span> </a></li>
                </ul>
            </nav>
        </aside>

        

        

        <div class="main-content" id="content">
            {% block body %}{% endblock %}
        </div>
        <div class="custom-audio-player">
            <div class="track-info">
                <img id="albumCover" src="{{asset('uploads/defaultTrack.jpg')}}" alt="Default Album Cover">
                <div>
                    <a id="songName" href="#" target="_blank">Select a Song</a>
                    <br>
                    <a id="artistName" href="#" target="_blank">Artist Name</a>
                </div>
            </div>

            <audio id="audioPlayer"  type="audio/mpeg"></audio>
            <div class="controls">
                
                <button id="playPauseBtn"><i class="fa-solid fa-play"></i></button>
                <div class="time-info" id="timeInfo">0:00 / 0:00</div>
                <div class="progress-bar" id="progressBar">
                    <div class="progress" id="progress"></div>
                </div>
            </div>
            <div class="volume-control">
                <i id="volumeIcon" class="fa fa-volume-up"></i>
                <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="1">
            </div>

        </div>
        <script>
            function addToHistory(musiqueId) {
                fetch('/add-to-history', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'musiqueId=' + musiqueId
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Historique mis a jour');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        </script>
        <script>
            function toggleNavbar() {
                var navbar = document.getElementById('navbar');
                var logo1 = document.getElementById('logo1');
                var logo2 = document.getElementById('logo2');
                var button = document.getElementById('toggle-button');
                var mainContent = document.querySelector('.main-content');
                
                navbar.classList.toggle('collapsed');
                
                // Adjust the main content padding depending on the navbar state
                if (navbar.classList.contains('collapsed')) {
                    mainContent.style.paddingLeft = '80px';
                } else {
                    mainContent.style.paddingLeft = '280px';
                }
                
                // Toggle visibility of the logos
                if (logo1.style.display === "none") {
                    logo1.style.display = "block";
                    logo2.style.display = "none";
                    button.classList.remove("left");
                    button.classList.add("right");
                } else {
                    logo1.style.display = "none";
                    logo2.style.display = "block";
                    button.classList.remove("right");
                    button.classList.add("left");
                }
            }
        </script>
        <footer class="footer">
            <div class="footer_content">
                <div class="footer-section">
                    <h3>Support</h3>
                    <a href="#">Conditions générales d'utilisation</a>
                    <a href="#">Politique de confidentialité</a>
                    <a href="#">Partenaires</a>
                </div>
                <div class="footer_line"></div>
                <div class="footer-section">
                    <h3>Nous contacter</h3>
                    <a href="tel:0777829438">07 77 82 94 38</a>
                    <p>10 rue des bouchers Strasbourg</p>
                    <a href="mailto:SoundSage@test.com">SoundSage@test.com</a>
                </div>
                <div class="footer_line"></div>
                <div class="footer-section">
                    <h3>Suivez nous</h3>
                    <div class="social_media">
                        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2023 SoundSage. All Right Reserved.</p>
            </div>
        </footer>
        <script>
            
    
                var success = "{{ app.request.query.get('success') }}";
                var message = "{{ app.request.query.get('message') }}";
                if (success === '1') {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "success",
                        title: message
                    });
                }
            
            
        </script>

       
        
        
        
    </body>
    </html>