<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/a0cb91d4d8.js" crossorigin="anonymous"></script>
        <link rel="icon" href="{{ asset('uploads/small-logo.png') }}">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@200;400;600;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/darkmode.css') }}">
        <link rel="stylesheet" href="{{ asset('css/lecteur.css') }}">
        <link rel="stylesheet" href="{{ asset('css/chat.css') }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/recherche.css') }}">
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        <link rel="stylesheet" href="{{ asset('css/playlist.css') }}">
        <link rel="stylesheet" href="{{ asset('css/album.css') }}">
        <link rel="stylesheet" href="{{ asset('css/page.css') }}">

        {% endblock %}

        {% block javascripts %}

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{{ asset('js/darkmode.js') }}"></script>
        <script src="{{ asset('js/theme.js') }}"></script>
        <script src="{{ asset('js/lecteur.js') }}"></script>
        <script src="{{ asset('js/carousel.js') }}"></script>
        
        
        
        
        
        {% block importmap %}{{ importmap() }}{% endblock %}
       
        {% endblock %}
    </head>
    <body class="preload">
        
        
        {# affichage des messages de succés et d'erreur #}
        {% set errorFlashes = app.flashes('error') %}
        {% set successFlashes = app.flashes('success') %}
        
        
        {% if errorFlashes is not empty %}
            <h3 class="msg_error">  
                {% for message in errorFlashes %}
                <i class="fa-solid fa-bullhorn"></i> {{ message }}
                {% endfor %} 
            </h3>
        {% endif %}
        
        {% if successFlashes is not empty %}
            <h3 class="msg_success">
                {% for message in successFlashes %}
                <i class="fa-solid fa-bullhorn"></i> {{ message }}
                {% endfor %}
            </h3>
        {% endif %}
        <button class="dark"><i class="fa-solid fa-moon"></i></button>
        <aside>
            <nav class="navbar" id="navbar">
                <div class="navbar-header">
                    
                    
                    <svg class="logo" id="logo1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" zoomAndPan="magnify" viewBox="0 0 150 74.999997" height="100" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><clipPath id="13f196a48e"><path d="M 0 3 L 57 3 L 57 69.410156 L 0 69.410156 Z M 0 3 " clip-rule="nonzero"/></clipPath><clipPath id="10c231189d"><path d="M 67 46.527344 L 126.585938 46.527344 L 126.585938 73 L 67 73 Z M 67 46.527344 " clip-rule="nonzero"/></clipPath><clipPath id="77c2de4852"><path d="M 56.921875 13.519531 L 136.421875 13.519531 L 136.421875 43.519531 L 56.921875 43.519531 Z M 56.921875 13.519531 " clip-rule="nonzero"/></clipPath><clipPath id="5cf0e0d09b"><path d="M 67 20 L 126.585938 20 L 126.585938 36 L 67 36 Z M 67 20 " clip-rule="nonzero"/></clipPath></defs><g clip-path="url(#13f196a48e)"><path fill="#3a84db" d="M 28.019531 3.382812 C 25.648438 3.941406 23.691406 5.90625 22.3125 9.082031 C 21.070312 11.964844 19.996094 17.238281 19.996094 20.484375 C 19.996094 20.964844 19.953125 21.351562 19.898438 21.351562 C 19.828125 21.351562 19.4375 21.257812 19.019531 21.152344 C 18 20.882812 15.699219 20.871094 14.527344 21.136719 C 14.011719 21.246094 13.046875 21.550781 12.390625 21.804688 C 9.714844 22.847656 7.328125 23.152344 3.085938 23.046875 L 0.183594 22.980469 L 0.378906 23.328125 C 0.753906 24.019531 1.859375 25.355469 2.722656 26.171875 C 5.234375 28.519531 8.652344 29.949219 12.183594 30.109375 C 14.164062 30.203125 14.863281 30.363281 15.335938 30.84375 C 15.867188 31.363281 15.878906 32.257812 15.363281 33.179688 C 13.425781 36.730469 13.171875 37.4375 13.046875 39.707031 C 12.949219 41.855469 13.410156 44.417969 14.375 46.847656 L 14.765625 47.851562 L 14.875 47.007812 C 15.027344 45.847656 15.433594 44.859375 16.171875 43.898438 C 16.523438 43.457031 16.828125 43.113281 16.855469 43.136719 C 16.882812 43.164062 16.816406 43.484375 16.703125 43.84375 C 16.394531 44.792969 16.523438 46.394531 16.980469 47.558594 C 17.175781 48.050781 17.5 48.839844 17.695312 49.304688 C 18.378906 51.054688 18.503906 54.3125 17.957031 57.234375 C 17.847656 57.929688 17.761719 58.503906 17.792969 58.542969 C 17.832031 58.570312 18.28125 58.050781 18.808594 57.382812 C 19.941406 55.96875 21.042969 53.925781 21.28125 52.828125 C 21.378906 52.402344 21.488281 52.054688 21.542969 52.054688 C 21.640625 52.054688 22.128906 53.269531 22.382812 54.191406 C 22.480469 54.539062 22.535156 55.394531 22.507812 56.195312 C 22.410156 59.4375 22.4375 59.839844 22.757812 60.800781 C 23.332031 62.480469 25.703125 66.820312 25.898438 66.511719 C 25.941406 66.460938 26.007812 65.964844 26.066406 65.433594 C 26.121094 64.910156 26.203125 64.472656 26.273438 64.472656 C 26.414062 64.472656 27.542969 66.113281 28.03125 67.019531 C 28.242188 67.421875 28.492188 68.035156 28.589844 68.410156 L 28.757812 69.078125 L 29.175781 68.195312 C 29.414062 67.714844 29.847656 66.660156 30.140625 65.859375 L 30.667969 64.402344 L 30.808594 65.433594 C 30.894531 66.007812 30.992188 66.5 31.03125 66.527344 C 31.144531 66.632812 32.457031 64.445312 33.238281 62.867188 C 34.421875 60.480469 34.703125 59.023438 34.367188 57.007812 C 34.253906 56.421875 34.253906 55.847656 34.367188 55.140625 C 34.519531 54.058594 35.148438 52.054688 35.34375 52.054688 C 35.398438 52.054688 35.484375 52.257812 35.523438 52.496094 C 35.746094 53.832031 37.226562 56.5 38.621094 58.0625 L 39.152344 58.664062 L 39.054688 58.0625 C 38.300781 53.550781 38.414062 51.054688 39.488281 48.597656 C 40.378906 46.570312 40.574219 45.152344 40.15625 43.832031 C 40.046875 43.472656 39.949219 43.152344 39.949219 43.125 C 39.949219 42.949219 40.492188 43.566406 40.9375 44.21875 C 41.550781 45.128906 41.914062 46.074219 42.027344 47.117188 L 42.125 47.851562 L 42.445312 47.050781 C 43.464844 44.472656 43.910156 42.125 43.8125 39.773438 C 43.714844 37.757812 43.394531 36.570312 42.5 34.96875 C 41.1875 32.632812 41.175781 32.589844 41.160156 31.898438 C 41.148438 30.695312 42.070312 30.160156 44.1875 30.160156 C 45.292969 30.160156 47.257812 29.839844 48.457031 29.480469 C 51.082031 28.667969 53.59375 27.023438 55.308594 24.980469 C 55.769531 24.449219 56.257812 23.765625 56.410156 23.488281 L 56.691406 22.964844 L 53.859375 23.046875 C 49.769531 23.152344 46.882812 22.792969 44.832031 21.925781 C 44.414062 21.75 43.535156 21.445312 42.878906 21.269531 C 41.441406 20.871094 39.417969 20.816406 37.953125 21.136719 C 37.421875 21.257812 36.976562 21.351562 36.960938 21.351562 C 36.933594 21.351562 36.878906 20.816406 36.835938 20.164062 C 36.683594 18.066406 36.347656 16.90625 35.328125 14.808594 C 34.964844 14.035156 34.5625 13.046875 34.4375 12.605469 C 34.183594 11.660156 34.15625 10.058594 34.410156 9.617188 C 34.867188 8.761719 36.082031 8.480469 37.757812 8.855469 C 38.84375 9.097656 41.480469 10.097656 42.570312 10.683594 C 42.960938 10.898438 43.296875 11.03125 43.296875 10.976562 C 43.296875 10.765625 41.636719 8.816406 40.660156 7.894531 C 38.09375 5.4375 34.964844 3.796875 31.996094 3.34375 C 30.796875 3.15625 28.898438 3.183594 28.019531 3.382812 Z M 20.679688 30.28125 C 22.507812 31.082031 23.175781 31.164062 28.578125 31.164062 C 33.792969 31.164062 34.269531 31.109375 36.039062 30.363281 C 37.519531 29.75 37.644531 29.722656 37.925781 29.976562 C 38.132812 30.175781 38.148438 30.429688 38.105469 31.683594 C 38.035156 33.699219 37.757812 34.300781 36.710938 34.742188 C 35.804688 35.128906 35.734375 35.222656 35.425781 36.304688 C 35.300781 36.785156 34.964844 37.851562 34.6875 38.679688 L 34.199219 40.1875 L 33.390625 39.441406 C 32.496094 38.640625 31.1875 37.957031 30.222656 37.824219 C 29.523438 37.730469 29.496094 37.597656 29.886719 36.742188 C 30.070312 36.382812 30.363281 36.0625 30.738281 35.835938 C 31.4375 35.410156 31.578125 35.089844 31.5625 33.859375 C 31.5625 33.207031 31.519531 33.003906 31.449219 33.234375 C 31.003906 34.609375 30.179688 35.207031 28.660156 35.300781 C 27.097656 35.382812 26.09375 34.820312 25.578125 33.554688 L 25.3125 32.898438 L 25.296875 33.859375 C 25.296875 35.089844 25.4375 35.410156 26.136719 35.835938 C 26.511719 36.0625 26.804688 36.382812 26.984375 36.742188 C 27.375 37.597656 27.347656 37.691406 26.527344 37.878906 C 25.410156 38.132812 24.390625 38.652344 23.496094 39.453125 L 22.6875 40.160156 L 22.117188 38.398438 C 21.808594 37.425781 21.460938 36.304688 21.335938 35.890625 C 21.125 35.15625 21.097656 35.128906 20.273438 34.78125 C 19.523438 34.472656 19.394531 34.367188 19.132812 33.804688 C 18.710938 32.910156 18.585938 30.320312 18.949219 29.988281 C 19.269531 29.679688 19.3125 29.695312 20.679688 30.28125 Z M 30.78125 39.746094 C 32.066406 40.359375 33.207031 41.5625 34.003906 43.152344 C 34.925781 44.980469 34.9375 45.195312 34.128906 44.351562 C 33.765625 43.980469 33.179688 43.472656 32.832031 43.21875 L 32.203125 42.777344 L 28.4375 42.789062 C 26.371094 42.804688 24.628906 42.816406 24.558594 42.832031 C 24.503906 42.84375 23.917969 43.339844 23.261719 43.9375 L 22.074219 45.035156 L 22.421875 44.125 C 23.386719 41.695312 24.964844 40.015625 26.875 39.425781 C 27.238281 39.308594 27.90625 39.253906 28.660156 39.28125 C 29.691406 39.320312 30 39.386719 30.78125 39.746094 Z M 30.78125 39.746094 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#10c231189d)"><path fill="#307ad0" d="M 79.476562 61.082031 C 79.476562 62.222656 79.191406 63.207031 78.625 64.035156 C 78.066406 64.859375 77.257812 65.492188 76.203125 65.933594 C 75.152344 66.371094 73.902344 66.589844 72.445312 66.589844 C 71.738281 66.589844 71.058594 66.550781 70.410156 66.472656 C 69.761719 66.394531 69.148438 66.277344 68.570312 66.128906 C 68.003906 65.972656 67.484375 65.78125 67.015625 65.5625 L 67.015625 62.582031 C 67.804688 62.925781 68.6875 63.238281 69.664062 63.519531 C 70.640625 63.792969 71.632812 63.929688 72.644531 63.929688 C 73.472656 63.929688 74.15625 63.824219 74.695312 63.613281 C 75.246094 63.390625 75.65625 63.085938 75.921875 62.6875 C 76.1875 62.285156 76.320312 61.8125 76.320312 61.277344 C 76.320312 60.707031 76.164062 60.222656 75.855469 59.828125 C 75.542969 59.433594 75.074219 59.070312 74.445312 58.746094 C 73.824219 58.414062 73.042969 58.058594 72.101562 57.679688 C 71.460938 57.425781 70.847656 57.132812 70.261719 56.808594 C 69.6875 56.484375 69.171875 56.101562 68.71875 55.660156 C 68.265625 55.222656 67.90625 54.703125 67.640625 54.105469 C 67.382812 53.5 67.253906 52.789062 67.253906 51.96875 C 67.253906 50.878906 67.515625 49.949219 68.039062 49.175781 C 68.570312 48.402344 69.316406 47.808594 70.277344 47.394531 C 71.242188 46.984375 72.371094 46.777344 73.65625 46.777344 C 74.679688 46.777344 75.636719 46.882812 76.535156 47.09375 C 77.441406 47.304688 78.328125 47.601562 79.199219 47.988281 L 78.183594 50.535156 C 77.386719 50.207031 76.609375 49.949219 75.855469 49.753906 C 75.109375 49.5625 74.347656 49.464844 73.566406 49.464844 C 72.890625 49.464844 72.316406 49.566406 71.847656 49.769531 C 71.375 49.972656 71.015625 50.257812 70.769531 50.625 C 70.527344 50.984375 70.410156 51.417969 70.410156 51.917969 C 70.410156 52.480469 70.546875 52.953125 70.820312 53.339844 C 71.105469 53.71875 71.542969 54.066406 72.125 54.382812 C 72.722656 54.699219 73.484375 55.050781 74.417969 55.4375 C 75.492188 55.878906 76.402344 56.339844 77.148438 56.820312 C 77.902344 57.304688 78.476562 57.886719 78.878906 58.5625 C 79.277344 59.230469 79.476562 60.070312 79.476562 61.082031 Z M 88.691406 51.457031 C 90.554688 51.457031 91.960938 51.863281 92.910156 52.683594 C 93.871094 53.5 94.351562 54.773438 94.351562 56.503906 L 94.351562 66.328125 L 92.125 66.328125 L 91.527344 64.257812 L 91.421875 64.257812 C 91.003906 64.785156 90.574219 65.21875 90.128906 65.5625 C 89.683594 65.90625 89.171875 66.160156 88.585938 66.328125 C 88.007812 66.503906 87.300781 66.589844 86.46875 66.589844 C 85.589844 66.589844 84.804688 66.433594 84.109375 66.117188 C 83.417969 65.792969 82.871094 65.300781 82.472656 64.640625 C 82.074219 63.980469 81.875 63.144531 81.875 62.136719 C 81.875 60.632812 82.4375 59.503906 83.566406 58.746094 C 84.699219 57.992188 86.414062 57.574219 88.703125 57.496094 L 91.261719 57.402344 L 91.261719 56.636719 C 91.261719 55.625 91.019531 54.90625 90.542969 54.476562 C 90.070312 54.042969 89.40625 53.828125 88.542969 53.828125 C 87.808594 53.828125 87.09375 53.933594 86.402344 54.144531 C 85.707031 54.355469 85.035156 54.617188 84.375 54.921875 L 83.363281 52.734375 C 84.082031 52.355469 84.902344 52.050781 85.816406 51.8125 C 86.738281 51.574219 87.695312 51.457031 88.691406 51.457031 Z M 91.246094 59.351562 L 89.34375 59.417969 C 87.78125 59.472656 86.683594 59.734375 86.054688 60.210938 C 85.425781 60.683594 85.109375 61.335938 85.109375 62.160156 C 85.109375 62.882812 85.328125 63.410156 85.761719 63.742188 C 86.195312 64.070312 86.769531 64.230469 87.480469 64.230469 C 88.5625 64.230469 89.457031 63.929688 90.167969 63.320312 C 90.886719 62.707031 91.246094 61.804688 91.246094 60.617188 Z M 102.9375 72.8125 C 100.941406 72.8125 99.410156 72.457031 98.34375 71.746094 C 97.277344 71.035156 96.746094 70.035156 96.746094 68.753906 C 96.746094 67.855469 97.03125 67.097656 97.597656 66.472656 C 98.167969 65.855469 98.980469 65.429688 100.035156 65.195312 C 99.636719 65.019531 99.289062 64.746094 98.996094 64.375 C 98.714844 64 98.570312 63.582031 98.570312 63.125 C 98.570312 62.578125 98.726562 62.113281 99.035156 61.726562 C 99.347656 61.339844 99.8125 60.964844 100.433594 60.605469 C 99.664062 60.28125 99.042969 59.753906 98.570312 59.023438 C 98.109375 58.285156 97.878906 57.417969 97.878906 56.425781 C 97.878906 55.371094 98.105469 54.476562 98.558594 53.738281 C 99.011719 52.988281 99.671875 52.421875 100.542969 52.035156 C 101.410156 51.640625 102.464844 51.441406 103.695312 51.441406 C 103.964844 51.441406 104.253906 51.460938 104.5625 51.496094 C 104.882812 51.523438 105.175781 51.558594 105.441406 51.601562 C 105.714844 51.636719 105.925781 51.675781 106.066406 51.71875 L 111.167969 51.71875 L 111.167969 53.445312 L 108.664062 53.910156 C 108.902344 54.242188 109.09375 54.625 109.238281 55.054688 C 109.378906 55.476562 109.449219 55.9375 109.449219 56.441406 C 109.449219 57.953125 108.921875 59.140625 107.863281 60.011719 C 106.816406 60.875 105.371094 61.304688 103.523438 61.304688 C 103.082031 61.285156 102.648438 61.25 102.234375 61.199219 C 101.914062 61.390625 101.667969 61.609375 101.5 61.84375 C 101.332031 62.074219 101.246094 62.332031 101.246094 62.621094 C 101.246094 62.859375 101.332031 63.054688 101.5 63.203125 C 101.667969 63.34375 101.917969 63.449219 102.246094 63.519531 C 102.582031 63.589844 102.992188 63.625 103.472656 63.625 L 106.015625 63.625 C 107.628906 63.625 108.863281 63.964844 109.714844 64.640625 C 110.566406 65.316406 110.992188 66.308594 110.992188 67.621094 C 110.992188 69.28125 110.300781 70.558594 108.917969 71.457031 C 107.53125 72.359375 105.539062 72.8125 102.9375 72.8125 Z M 103.058594 70.636719 C 104.148438 70.636719 105.070312 70.53125 105.8125 70.320312 C 106.558594 70.109375 107.125 69.808594 107.503906 69.414062 C 107.886719 69.027344 108.078125 68.5625 108.078125 68.027344 C 108.078125 67.554688 107.957031 67.1875 107.71875 66.933594 C 107.480469 66.679688 107.121094 66.503906 106.640625 66.40625 C 106.160156 66.308594 105.566406 66.261719 104.855469 66.261719 L 102.539062 66.261719 C 101.960938 66.261719 101.453125 66.347656 101.007812 66.523438 C 100.5625 66.710938 100.21875 66.972656 99.96875 67.316406 C 99.730469 67.660156 99.609375 68.070312 99.609375 68.554688 C 99.609375 69.222656 99.90625 69.738281 100.5 70.097656 C 101.105469 70.457031 101.957031 70.636719 103.058594 70.636719 Z M 103.671875 59.273438 C 104.585938 59.273438 105.265625 59.027344 105.707031 58.535156 C 106.152344 58.035156 106.375 57.332031 106.375 56.425781 C 106.375 55.441406 106.144531 54.703125 105.679688 54.210938 C 105.230469 53.71875 104.554688 53.472656 103.65625 53.472656 C 102.777344 53.472656 102.109375 53.722656 101.648438 54.226562 C 101.195312 54.726562 100.96875 55.46875 100.96875 56.453125 C 100.96875 57.339844 101.195312 58.035156 101.648438 58.535156 C 102.109375 59.027344 102.78125 59.273438 103.671875 59.273438 Z M 119.730469 51.457031 C 121.042969 51.457031 122.167969 51.722656 123.109375 52.261719 C 124.050781 52.796875 124.773438 53.558594 125.28125 54.542969 C 125.789062 55.527344 126.039062 56.703125 126.039062 58.074219 L 126.039062 59.734375 L 116.199219 59.734375 C 116.234375 61.152344 116.617188 62.242188 117.34375 63.003906 C 118.082031 63.769531 119.113281 64.152344 120.433594 64.152344 C 121.375 64.152344 122.21875 64.0625 122.964844 63.886719 C 123.71875 63.703125 124.496094 63.4375 125.292969 63.085938 L 125.292969 65.601562 C 124.558594 65.945312 123.808594 66.195312 123.042969 66.355469 C 122.28125 66.511719 121.367188 66.589844 120.300781 66.589844 C 118.855469 66.589844 117.582031 66.3125 116.480469 65.761719 C 115.386719 65.199219 114.53125 64.363281 113.910156 63.253906 C 113.296875 62.148438 112.992188 60.773438 112.992188 59.128906 C 112.992188 57.496094 113.269531 56.105469 113.832031 54.964844 C 114.390625 53.820312 115.175781 52.949219 116.1875 52.351562 C 117.199219 51.753906 118.378906 51.457031 119.730469 51.457031 Z M 119.730469 53.789062 C 118.742188 53.789062 117.945312 54.105469 117.332031 54.738281 C 116.726562 55.371094 116.375 56.300781 116.265625 57.519531 L 122.976562 57.519531 C 122.96875 56.792969 122.84375 56.144531 122.605469 55.582031 C 122.375 55.019531 122.019531 54.582031 121.539062 54.265625 C 121.070312 53.949219 120.464844 53.789062 119.730469 53.789062 Z M 119.730469 53.789062 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#77c2de4852)"><path fill="#307ad0" d="M 72.140625 13.519531 L 121.203125 13.519531 C 122.199219 13.519531 123.191406 13.613281 124.167969 13.808594 C 125.148438 14 126.101562 14.285156 127.023438 14.660156 C 127.945312 15.039062 128.820312 15.5 129.652344 16.046875 C 130.484375 16.59375 131.25 17.214844 131.957031 17.914062 C 132.664062 18.609375 133.292969 19.367188 133.847656 20.183594 C 134.402344 21.003906 134.871094 21.867188 135.253906 22.777344 C 135.636719 23.6875 135.925781 24.625 136.121094 25.59375 C 136.3125 26.558594 136.410156 27.535156 136.410156 28.519531 C 136.410156 29.503906 136.3125 30.480469 136.121094 31.445312 C 135.925781 32.410156 135.636719 33.347656 135.253906 34.257812 C 134.871094 35.167969 134.402344 36.035156 133.847656 36.851562 C 133.292969 37.671875 132.664062 38.429688 131.957031 39.125 C 131.25 39.820312 130.484375 40.445312 129.652344 40.992188 C 128.820312 41.539062 127.945312 42 127.023438 42.378906 C 126.101562 42.753906 125.148438 43.039062 124.167969 43.230469 C 123.191406 43.421875 122.199219 43.519531 121.203125 43.519531 L 72.140625 43.519531 C 71.140625 43.519531 70.152344 43.421875 69.171875 43.230469 C 68.191406 43.039062 67.242188 42.753906 66.320312 42.378906 C 65.398438 42 64.519531 41.539062 63.691406 40.992188 C 62.859375 40.445312 62.089844 39.820312 61.386719 39.125 C 60.679688 38.429688 60.046875 37.671875 59.492188 36.851562 C 58.9375 36.035156 58.46875 35.167969 58.089844 34.257812 C 57.707031 33.347656 57.417969 32.410156 57.222656 31.445312 C 57.027344 30.480469 56.929688 29.503906 56.929688 28.519531 C 56.929688 27.535156 57.027344 26.558594 57.222656 25.59375 C 57.417969 24.625 57.707031 23.6875 58.089844 22.777344 C 58.46875 21.867188 58.9375 21.003906 59.492188 20.183594 C 60.046875 19.367188 60.679688 18.609375 61.386719 17.914062 C 62.089844 17.214844 62.859375 16.59375 63.691406 16.046875 C 64.519531 15.5 65.398438 15.039062 66.320312 14.660156 C 67.242188 14.285156 68.191406 14 69.171875 13.808594 C 70.152344 13.613281 71.140625 13.519531 72.140625 13.519531 Z M 72.140625 13.519531 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#5cf0e0d09b)"><path id="textsvg" fill="#ffffff" d="M 76.714844 31.511719 C 76.714844 32.367188 76.507812 33.109375 76.089844 33.730469 C 75.679688 34.351562 75.085938 34.828125 74.3125 35.15625 C 73.546875 35.488281 72.628906 35.652344 71.558594 35.652344 C 71.039062 35.652344 70.542969 35.621094 70.066406 35.5625 C 69.589844 35.503906 69.144531 35.417969 68.71875 35.304688 C 68.304688 35.1875 67.921875 35.042969 67.578125 34.878906 L 67.578125 32.640625 C 68.15625 32.898438 68.804688 33.132812 69.519531 33.34375 C 70.234375 33.546875 70.964844 33.652344 71.707031 33.652344 C 72.3125 33.652344 72.8125 33.570312 73.210938 33.414062 C 73.613281 33.246094 73.914062 33.015625 74.109375 32.71875 C 74.304688 32.414062 74.402344 32.0625 74.402344 31.660156 C 74.402344 31.230469 74.285156 30.867188 74.058594 30.570312 C 73.832031 30.273438 73.488281 30 73.023438 29.757812 C 72.570312 29.503906 71.996094 29.238281 71.304688 28.953125 C 70.839844 28.761719 70.390625 28.542969 69.960938 28.300781 C 69.535156 28.054688 69.160156 27.769531 68.828125 27.4375 C 68.496094 27.105469 68.230469 26.71875 68.035156 26.269531 C 67.847656 25.8125 67.753906 25.277344 67.753906 24.664062 C 67.753906 23.84375 67.945312 23.144531 68.328125 22.5625 C 68.71875 21.980469 69.265625 21.535156 69.96875 21.222656 C 70.679688 20.914062 71.503906 20.757812 72.449219 20.757812 C 73.195312 20.757812 73.898438 20.839844 74.558594 20.996094 C 75.21875 21.15625 75.871094 21.378906 76.507812 21.671875 L 75.765625 23.582031 C 75.183594 23.339844 74.613281 23.144531 74.058594 23 C 73.511719 22.851562 72.953125 22.78125 72.378906 22.78125 C 71.886719 22.78125 71.464844 22.855469 71.121094 23.007812 C 70.777344 23.160156 70.511719 23.375 70.332031 23.652344 C 70.15625 23.921875 70.066406 24.246094 70.066406 24.625 C 70.066406 25.046875 70.167969 25.402344 70.371094 25.695312 C 70.578125 25.976562 70.898438 26.238281 71.324219 26.476562 C 71.761719 26.714844 72.320312 26.976562 73.003906 27.269531 C 73.792969 27.597656 74.460938 27.945312 75.007812 28.308594 C 75.558594 28.671875 75.980469 29.109375 76.273438 29.617188 C 76.566406 30.121094 76.714844 30.75 76.714844 31.511719 Z M 88.796875 29.945312 C 88.796875 30.855469 88.679688 31.664062 88.445312 32.371094 C 88.210938 33.078125 87.871094 33.675781 87.421875 34.164062 C 86.972656 34.648438 86.433594 35.019531 85.800781 35.277344 C 85.171875 35.527344 84.457031 35.652344 83.664062 35.652344 C 82.921875 35.652344 82.242188 35.527344 81.625 35.277344 C 81.003906 35.019531 80.46875 34.648438 80.011719 34.164062 C 79.5625 33.675781 79.214844 33.078125 78.96875 32.371094 C 78.722656 31.664062 78.597656 30.855469 78.597656 29.945312 C 78.597656 28.734375 78.804688 27.710938 79.214844 26.871094 C 79.628906 26.027344 80.222656 25.382812 80.988281 24.941406 C 81.757812 24.496094 82.671875 24.277344 83.734375 24.277344 C 84.726562 24.277344 85.605469 24.496094 86.367188 24.941406 C 87.128906 25.382812 87.726562 26.027344 88.152344 26.871094 C 88.582031 27.71875 88.796875 28.742188 88.796875 29.945312 Z M 80.960938 29.945312 C 80.960938 30.742188 81.054688 31.425781 81.242188 31.996094 C 81.4375 32.5625 81.738281 33 82.140625 33.304688 C 82.542969 33.601562 83.066406 33.75 83.703125 33.75 C 84.339844 33.75 84.863281 33.601562 85.265625 33.304688 C 85.667969 33 85.964844 32.5625 86.152344 31.996094 C 86.34375 31.425781 86.4375 30.742188 86.4375 29.945312 C 86.4375 29.144531 86.34375 28.46875 86.152344 27.914062 C 85.964844 27.351562 85.667969 26.925781 85.265625 26.636719 C 84.863281 26.335938 84.335938 26.1875 83.691406 26.1875 C 82.742188 26.1875 82.050781 26.511719 81.613281 27.160156 C 81.179688 27.808594 80.960938 28.734375 80.960938 29.945312 Z M 100.851562 24.484375 L 100.851562 35.453125 L 99.046875 35.453125 L 98.734375 33.976562 L 98.609375 33.976562 C 98.378906 34.355469 98.089844 34.667969 97.738281 34.917969 C 97.386719 35.164062 96.996094 35.34375 96.566406 35.464844 C 96.140625 35.589844 95.6875 35.652344 95.210938 35.652344 C 94.398438 35.652344 93.703125 35.511719 93.121094 35.234375 C 92.550781 34.953125 92.109375 34.515625 91.804688 33.929688 C 91.5 33.339844 91.347656 32.582031 91.347656 31.648438 L 91.347656 24.484375 L 93.648438 24.484375 L 93.648438 31.214844 C 93.648438 32.066406 93.820312 32.703125 94.15625 33.125 C 94.503906 33.546875 95.035156 33.757812 95.757812 33.757812 C 96.453125 33.757812 97.007812 33.613281 97.417969 33.324219 C 97.828125 33.03125 98.117188 32.605469 98.285156 32.035156 C 98.460938 31.46875 98.550781 30.769531 98.550781 29.945312 L 98.550781 24.484375 Z M 109.773438 24.277344 C 110.992188 24.277344 111.9375 24.597656 112.617188 25.238281 C 113.300781 25.871094 113.640625 26.894531 113.640625 28.300781 L 113.640625 35.453125 L 111.347656 35.453125 L 111.347656 28.734375 C 111.347656 27.882812 111.175781 27.246094 110.828125 26.824219 C 110.484375 26.394531 109.949219 26.179688 109.226562 26.179688 C 108.179688 26.179688 107.453125 26.507812 107.042969 27.160156 C 106.636719 27.8125 106.4375 28.761719 106.4375 30.003906 L 106.4375 35.453125 L 104.144531 35.453125 L 104.144531 24.484375 L 105.929688 24.484375 L 106.25 25.972656 L 106.378906 25.972656 C 106.613281 25.585938 106.902344 25.273438 107.246094 25.03125 C 107.597656 24.777344 107.988281 24.589844 108.417969 24.464844 C 108.855469 24.339844 109.304688 24.277344 109.773438 24.277344 Z M 120.484375 35.652344 C 119.195312 35.652344 118.160156 35.175781 117.378906 34.226562 C 116.605469 33.269531 116.21875 31.855469 116.21875 29.996094 C 116.21875 28.113281 116.609375 26.6875 117.398438 25.722656 C 118.191406 24.757812 119.238281 24.277344 120.53125 24.277344 C 121.078125 24.277344 121.558594 24.351562 121.964844 24.503906 C 122.375 24.648438 122.726562 24.847656 123.019531 25.097656 C 123.320312 25.351562 123.574219 25.628906 123.78125 25.941406 L 123.890625 25.941406 C 123.855469 25.738281 123.816406 25.441406 123.773438 25.058594 C 123.734375 24.667969 123.714844 24.308594 123.714844 23.980469 L 123.714844 20.035156 L 126.019531 20.035156 L 126.019531 35.453125 L 124.222656 35.453125 L 123.8125 33.957031 L 123.714844 33.957031 C 123.519531 34.273438 123.273438 34.5625 122.972656 34.820312 C 122.679688 35.070312 122.328125 35.273438 121.917969 35.425781 C 121.515625 35.578125 121.035156 35.652344 120.484375 35.652344 Z M 121.128906 33.757812 C 122.109375 33.757812 122.804688 33.472656 123.207031 32.898438 C 123.609375 32.324219 123.816406 31.460938 123.832031 30.3125 L 123.832031 30.003906 C 123.832031 28.773438 123.636719 27.832031 123.246094 27.179688 C 122.855469 26.519531 122.140625 26.1875 121.109375 26.1875 C 120.28125 26.1875 119.648438 26.527344 119.214844 27.210938 C 118.785156 27.882812 118.570312 28.824219 118.570312 30.035156 C 118.570312 31.242188 118.785156 32.167969 119.214844 32.808594 C 119.648438 33.441406 120.289062 33.757812 121.128906 33.757812 Z M 121.128906 33.757812 " fill-opacity="1" fill-rule="nonzero"/></g>
                    </svg>

                    <svg class="logo" id="logo2" style="display: none;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" zoomAndPan="magnify" viewBox="0 0 60 74.999997" height="100" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><clipPath id="782b7346d7"><path d="M 0.742188 3 L 59 3 L 59 72 L 0.742188 72 Z M 0.742188 3 " clip-rule="nonzero"/></clipPath></defs><g clip-path="url(#782b7346d7)"><path fill="#3a84db" d="M 29.496094 3.75 C 27.0625 4.328125 25.058594 6.355469 23.640625 9.640625 C 22.367188 12.621094 21.261719 18.070312 21.261719 21.425781 C 21.261719 21.921875 21.21875 22.320312 21.164062 22.320312 C 21.089844 22.320312 20.691406 22.226562 20.261719 22.113281 C 19.214844 21.839844 16.851562 21.824219 15.648438 22.101562 C 15.121094 22.210938 14.132812 22.527344 13.457031 22.792969 C 10.710938 23.867188 8.261719 24.183594 3.90625 24.074219 L 0.929688 24.003906 L 1.128906 24.363281 C 1.515625 25.082031 2.648438 26.460938 3.535156 27.304688 C 6.113281 29.730469 9.621094 31.207031 13.242188 31.375 C 15.277344 31.46875 15.992188 31.636719 16.480469 32.132812 C 17.023438 32.671875 17.039062 33.59375 16.507812 34.546875 C 14.519531 38.21875 14.261719 38.949219 14.132812 41.292969 C 14.03125 43.515625 14.503906 46.164062 15.492188 48.675781 L 15.894531 49.710938 L 16.007812 48.84375 C 16.164062 47.640625 16.582031 46.621094 17.339844 45.628906 C 17.695312 45.171875 18.011719 44.8125 18.039062 44.839844 C 18.070312 44.867188 17.996094 45.199219 17.882812 45.570312 C 17.566406 46.550781 17.695312 48.207031 18.167969 49.40625 C 18.371094 49.917969 18.699219 50.734375 18.898438 51.214844 C 19.601562 53.023438 19.730469 56.390625 19.171875 59.410156 C 19.058594 60.128906 18.972656 60.722656 19 60.765625 C 19.042969 60.792969 19.5 60.253906 20.046875 59.5625 C 21.207031 58.101562 22.335938 55.988281 22.578125 54.859375 C 22.679688 54.417969 22.792969 54.058594 22.851562 54.058594 C 22.953125 54.058594 23.453125 55.3125 23.710938 56.265625 C 23.8125 56.625 23.867188 57.507812 23.839844 58.335938 C 23.738281 61.6875 23.769531 62.101562 24.097656 63.097656 C 24.683594 64.835938 27.121094 69.320312 27.320312 69 C 27.363281 68.945312 27.433594 68.4375 27.492188 67.882812 C 27.550781 67.34375 27.636719 66.890625 27.707031 66.890625 C 27.847656 66.890625 29.007812 68.585938 29.511719 69.527344 C 29.726562 69.941406 29.984375 70.574219 30.082031 70.960938 L 30.253906 71.652344 L 30.683594 70.738281 C 30.929688 70.242188 31.371094 69.152344 31.671875 68.324219 L 32.21875 66.820312 L 32.359375 67.882812 C 32.445312 68.476562 32.546875 68.988281 32.589844 69.015625 C 32.703125 69.125 34.050781 66.863281 34.851562 65.234375 C 36.070312 62.765625 36.355469 61.261719 36.011719 59.175781 C 35.898438 58.570312 35.898438 57.976562 36.011719 57.246094 C 36.167969 56.128906 36.8125 54.058594 37.015625 54.058594 C 37.070312 54.058594 37.15625 54.265625 37.199219 54.511719 C 37.429688 55.894531 38.945312 58.652344 40.378906 60.265625 L 40.921875 60.886719 L 40.824219 60.265625 C 40.050781 55.601562 40.164062 53.023438 41.265625 50.484375 C 42.183594 48.386719 42.382812 46.925781 41.953125 45.558594 C 41.839844 45.1875 41.738281 44.855469 41.738281 44.828125 C 41.738281 44.648438 42.296875 45.28125 42.757812 45.957031 C 43.386719 46.898438 43.757812 47.875 43.871094 48.953125 L 43.972656 49.710938 L 44.300781 48.882812 C 45.347656 46.21875 45.804688 43.792969 45.707031 41.363281 C 45.605469 39.28125 45.277344 38.050781 44.359375 36.394531 C 43.015625 33.980469 43 33.941406 42.984375 33.222656 C 42.972656 31.980469 43.914062 31.429688 46.09375 31.429688 C 47.222656 31.429688 49.242188 31.097656 50.472656 30.726562 C 53.167969 29.882812 55.742188 28.1875 57.503906 26.074219 C 57.976562 25.523438 58.480469 24.820312 58.636719 24.53125 L 58.921875 23.992188 L 56.015625 24.074219 C 51.820312 24.183594 48.855469 23.8125 46.75 22.914062 C 46.320312 22.734375 45.417969 22.417969 44.746094 22.238281 C 43.273438 21.824219 41.195312 21.769531 39.691406 22.101562 C 39.148438 22.226562 38.6875 22.320312 38.675781 22.320312 C 38.644531 22.320312 38.589844 21.769531 38.546875 21.09375 C 38.386719 18.925781 38.046875 17.726562 37 15.5625 C 36.628906 14.761719 36.210938 13.738281 36.082031 13.285156 C 35.824219 12.304688 35.796875 10.648438 36.054688 10.191406 C 36.527344 9.308594 37.773438 9.019531 39.492188 9.40625 C 40.609375 9.65625 43.316406 10.691406 44.429688 11.296875 C 44.832031 11.519531 45.175781 11.65625 45.175781 11.601562 C 45.175781 11.378906 43.472656 9.367188 42.46875 8.414062 C 39.835938 5.875 36.628906 4.175781 33.578125 3.707031 C 32.347656 3.515625 30.398438 3.542969 29.496094 3.75 Z M 21.964844 31.554688 C 23.839844 32.378906 24.527344 32.464844 30.070312 32.464844 C 35.425781 32.464844 35.910156 32.410156 37.730469 31.636719 C 39.246094 31 39.375 30.972656 39.664062 31.234375 C 39.878906 31.441406 39.890625 31.703125 39.847656 33 C 39.777344 35.085938 39.492188 35.707031 38.417969 36.160156 C 37.488281 36.5625 37.414062 36.660156 37.101562 37.777344 C 36.972656 38.273438 36.628906 39.375 36.339844 40.230469 L 35.839844 41.792969 L 35.007812 41.019531 C 34.09375 40.191406 32.746094 39.488281 31.757812 39.347656 C 31.042969 39.253906 31.015625 39.113281 31.414062 38.230469 C 31.601562 37.859375 31.902344 37.527344 32.289062 37.292969 C 33.003906 36.851562 33.148438 36.519531 33.132812 35.25 C 33.132812 34.574219 33.089844 34.367188 33.019531 34.601562 C 32.5625 36.023438 31.714844 36.644531 30.15625 36.742188 C 28.550781 36.824219 27.519531 36.246094 26.992188 34.933594 L 26.71875 34.257812 L 26.703125 35.25 C 26.703125 36.519531 26.847656 36.851562 27.5625 37.292969 C 27.949219 37.527344 28.25 37.859375 28.4375 38.230469 C 28.835938 39.113281 28.808594 39.210938 27.964844 39.402344 C 26.820312 39.667969 25.773438 40.203125 24.855469 41.03125 L 24.027344 41.761719 L 23.4375 39.941406 C 23.125 38.933594 22.765625 37.777344 22.636719 37.347656 C 22.421875 36.589844 22.394531 36.5625 21.550781 36.203125 C 20.777344 35.886719 20.648438 35.773438 20.375 35.195312 C 19.945312 34.269531 19.816406 31.59375 20.1875 31.25 C 20.519531 30.933594 20.5625 30.945312 21.964844 31.554688 Z M 32.332031 41.335938 C 33.648438 41.96875 34.824219 43.210938 35.640625 44.855469 C 36.585938 46.746094 36.597656 46.964844 35.769531 46.097656 C 35.394531 45.710938 34.792969 45.1875 34.4375 44.921875 L 33.792969 44.46875 L 29.925781 44.480469 C 27.804688 44.496094 26.015625 44.507812 25.945312 44.523438 C 25.886719 44.539062 25.285156 45.046875 24.613281 45.667969 L 23.394531 46.800781 L 23.753906 45.863281 C 24.742188 43.351562 26.359375 41.613281 28.320312 41.003906 C 28.695312 40.878906 29.382812 40.824219 30.15625 40.851562 C 31.214844 40.894531 31.53125 40.964844 32.332031 41.335938 Z M 32.332031 41.335938 " fill-opacity="1" fill-rule="nonzero"/></g>
                    </svg>
                    <button id="toggle-button" class="" onclick="toggleNavbar()">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </div>
                <ul class="navbar-nav">
                    <li><span class="nav-titre">explorer</span></li>
                    <li class="nav_element"><a title="Accueil" href="{{ path('app_home') }}"> <i  class="fa-solid fa-house icon"></i><span class="link-text">Accueil</span></a></li>
                    <li class="nav_element"><a title="Albums" href="{{ path('app_album') }}"> <i class="fa-solid fa-record-vinyl icon"></i> <span class="link-text">Albums</span> </a></li>
                    <li class="nav_element"><a title="Groupes" href="{{ path('app_groupe') }}"> <i class="fa-solid fa-people-group icon"></i><span class="link-text">Groupes</span> </a></li>
                    <li class="nav_element"><a title="Genres" href="{{ path('app_genre') }}"> <i class="fa-solid fa-guitar icon"></i><span class="link-text">Genres</span> </a></li>
                    <li class="nav_element"><a title="Vos Playlists" href="{{ path('app_playlist') }}"> <i class="fa-solid fa-ear-listen icon"></i><span class="link-text">Playlists</span> </a></li>
                </ul>
                <ul class="navbar-nav">
                    <li><span class="nav-titre">social</span></li>
                    <li class="nav_element"><a title="Pages" href="{{ path('app_page') }}"><i class="fa-solid fa-note-sticky icon"></i><span class="link-text">Pages</span></a></li>
                </ul>
                <ul class="navbar-nav">
                    <li><span class="nav-titre">préférences</span></li>
                    <li class="nav_element"><a title="Favoris" href="{{ path('app_favoris') }}"> <i class="fa-solid fa-heart icon"></i><span class="link-text">Favoris</span> </a></li>
                    <li class="nav_element"><a title="historique" href="{{ path('app_historique') }}"> <i class="fa-solid fa-clock-rotate-left icon"></i><span class="link-text">Historique</span> </a></li>
                    <li class="nav_element colorLi"><a href=""><i class="fa-solid fa-paintbrush icon"></i> <span class="link-text">Thème</span></a><button class="color-picker-trigger"></button><button id="resetThemeColor" >X</button> <input type="color" id="themeColorPicker"> </li>
                </ul>
                
            </nav>
        </aside>
        <script>
            document.querySelector('.color-picker-trigger').addEventListener('click', function() {
                document.getElementById('themeColorPicker').click();
            });
        </script>

        
        <div class="main-content" id="content" data-turbo-frame="content">
            {% block body %}{% endblock %}
        </div>
        <div class="custom-audio-player">
            <div class="track-info">
                <img id="albumCover" src="{{asset('uploads/defaultTrack.jpg')}}" alt="Default Album Cover">
                <div>
                    <a id="songName" href="" target="_blank">Select a Song</a>
                    <br>
                    <a id="artistName" href="" target="_blank">Artist Name</a>
                </div>
            </div>

            <audio id="audioPlayer"  type="audio/mpeg"></audio>
            <div class="controls">
                <div class="player-flex">
                    <button onclick="playPreviousTrack()" id="prevBtn"><i class="fa-solid fa-backward"></i></button> 
                    <button  id="playPauseBtn"><i class="fa-solid fa-play"></i></button>
                    <button onclick="playNextTrack()" id="nextBtn"><i class="fa-solid fa-forward"></i></button> 
                </div>
                <div class="time-info" id="timeInfo">0:00 / 0:00</div>
                <div class="progress-bar" id="progressBar">
                    <div class="progress" id="progress"></div>
                </div>
            </div>
            <div class="repeat_et_volume">
                <button id="repeatBtn"><i class="fa-solid fa-repeat"></i></button> <!-- Repeat button -->
                <div class="volume-control">
                    <i id="volumeIcon" class="fa fa-volume-up"></i>
                    <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="1">
                </div>
            </div>

        </div>
        <script>
            function addToHistory(musiqueId) {
            
                fetch('/add-to-history', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'musiqueId=' + musiqueId
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Historique mis a jour');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        </script>
        <script>
            function toggleNavbar() {
                var navbar = document.getElementById('navbar');
                var logo1 = document.getElementById('logo1');
                var logo2 = document.getElementById('logo2');
                var button = document.getElementById('toggle-button');
                var mainContent = document.querySelector('.main-content');
                
                navbar.classList.toggle('collapsed');
                
                // Adjust the main content padding depending on the navbar state
                if (navbar.classList.contains('collapsed')) {
                    mainContent.style.paddingLeft = '80px';
                } else {
                    mainContent.style.paddingLeft = '280px';
                }
                
                // Toggle visibility of the logos
                if (logo1.style.display === "none") {
                    logo1.style.display = "block";
                    logo2.style.display = "none";
                    button.classList.remove("left");
                    button.classList.add("right");
                } else {
                    logo1.style.display = "none";
                    logo2.style.display = "block";
                    button.classList.remove("right");
                    button.classList.add("left");
                }
            }
        </script>
        <footer class="footer">
            <div class="footer_content">
                <div class="footer-section">
                    <h3>Support</h3>
                    <a href="#">Conditions générales d'utilisation</a>
                    <a href="#">Politique de confidentialité</a>
                    <a href="#">Partenaires</a>
                </div>
                <div class="footer_line"></div>
                <div class="footer-section">
                    <h3>Nous contacter</h3>
                    <a href="tel:0777829438">07 77 82 94 38</a>
                    <p>10 rue des bouchers Strasbourg</p>
                    <a href="mailto:SoundSage@test.com">SoundSage@test.com</a>
                </div>
                <div class="footer_line"></div>
                <div class="footer-section">
                    <h3>Suivez nous</h3>
                    <div class="social_media">
                        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2023 SoundSage. All Right Reserved.</p>
            </div>
        </footer>
        <script>
            
    
                var success = "{{ app.request.query.get('success') }}";
                var message = "{{ app.request.query.get('message') }}";
                if (success === '1') {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "success",
                        title: message
                    });
                }
            
            
        </script>

        
       
        
        
        
    </body>
    </html>