<div class="playlist" {{ attributes }}>
    <div>
        <input type="text" data-model="playlistName">
        <button data-action="live#action" data-action-name="handlePlaylist">+</button>
    </div>
    {% if app.user %}
        <ul>
        {% for playlist in app.user.playlists %}
            <li>
                <a href='#'>{{ playlist.nom }}</a> 
                {{ component('AddToPlaylistComponent', {
                'albumId': this.albumId,
                'musiqueId': this.musiqueId,
                'playlistName':playlist.nom, }) }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
     <script>
            
    
                var success = "{{ app.request.query.get('success') }}";
                var message = "{{ app.request.query.get('message') }}";
                if (success === '1') {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "success",
                        title: message
                    });
                }
            
            
        </script>
    
</div>