{% extends 'base.html.twig' %}

{% block title %}Favoris{% endblock %}

{% block body %}



<div class="no_header_search">
    {{ component('SearchComponent', {
        'searchType': 'all',
    }) }} 
</div>



<main class="container1 favoris">
    <h1>Vos <span>Favoris</span></h1>

    <section class="main1 favoris">
        <!-- Musiques Section -->
        <div class="musiques1">
            <h2>Musiques <i class="fa-solid fa-angle-right rotated"></i></h2>
            <div class="items active">
                {% for musique in user.musiquesLiker %}
                <div class="item1 playlist_icons_list theme-color">
                    <div>
                        <button class="track-btn" 
                        data-tracks='[
                                
                                    {   "musiqueId": "{{ musique.id }}",
                                        "albumId": "{{ musique.album.id }}",
                                        "groupeId": "{{ musique.album.groupes[0].id }}",
                                        "track": "{{ asset('uploads/files/' ~ musique.fichier) }}",
                                        "albumCover": "{{ asset('uploads/albums/' ~ musique.album.image) }}",
                                        "songName": "{{ musique.nom }}",
                                        "artistName": "{{ musique.album.groupes[0].nom }}"
                                    }
                                
                                ]'
                                onclick="changeTrack(this);">
                            <img src="{{ asset('uploads/albums/' ~ musique.album.image) }}" alt="" height="40"><i class="fa-solid fa-play"></i>
                        </button>
                        <div>
                            <p>{{ musique.nom }}</p>
                            <p>{{ musique.groupes[0].nom }}</p>
                        </div>
                    </div>
                    <div>
                        {% if user in musique.likerPar %}
                        {% set liked1 = true %}
                        {% else %}
                        {% set liked1 = false %}
                        {% endif %}
                        {{ component('LikeButtonComponent', {
                            'entityType': 'Musique',
                            'entityId': musique.id,
                            'isLiked':liked1,
                        }) }}
                        <p>{{ musique.duree // 60 }}:{{ '%02d'|format(musique.duree % 60) }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        
        <div class="groupes1">
            <h2>Groupes <i class="fa-solid fa-angle-right"></i></h2>
            <div class="items">
                {% for groupe in user.groupesLiker %}
                <div class="item1 playlist_icons_list theme-color">
                    <div>
                        <img src="{{ asset('uploads/groupes/' ~ groupe.photo) }}" alt="photo de {{ groupe.nom }}" height="50">
                        <p>{{ groupe.nom }}</p>
                    </div>
                    {% if user in groupe.likerPar %}
                    {% set liked2 = true %}
                    {% else %}
                    {% set liked2 = false %}
                    {% endif %}
                    {{ component('LikeButtonComponent', {
                        'entityType': 'Groupe',
                        'entityId': groupe.id,
                        'isLiked':liked2,
                    }) }}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Albums Section -->
        <div class="albums1">
            <h2>Albums <i class="fa-solid fa-angle-right"></i></h2>
            <div class="items grid">
                {% for album in user.albumsLiker %}
                <div class="item1-grid playlist_icons_list theme-color">
                    <div>
                        <img src="{{ asset('uploads/albums/' ~ album.image) }}" alt="jaquette de {{ album.nom }}" height="50">
                        <div>
                            <p>{{ album.nom }}</p>
                            <p>{{ album.groupes[0].nom }}</p>
                        </div>
                    </div>
                    {% if user in album.likerPar %}
                    {% set liked3 = true %}
                    {% else %}
                    {% set liked3 = false %}
                    {% endif %}
                    {{ component('LikeButtonComponent', {
                        'entityType': 'Album',
                        'entityId': album.id,
                        'isLiked':liked3,
                    }) }}
                </div>
                {% endfor %}
            </div>
        </div>

       
    </section>
</main>

<script>

    const dropdowns = document.querySelectorAll('.main1.favoris h2');
    const items = document.querySelectorAll('.main1.favoris .items');

    dropdowns.forEach((dropdown, index) => {
        dropdown.addEventListener('click', () => {
            items[index].classList.toggle('active');
            dropdown.querySelector('i').classList.toggle('rotated');
        });
    });
    
</script>

{% endblock %}
